.card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 1rem;
  width: 212px;
  border-radius: 5%;
  z-index: 0;
}

.card-precio {
  position: relative;
  top: 13.16rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 0 0 0 auto;
  padding: 0 4px;
  backdrop-filter: blur(1.5px);
}

.card-precio p {
  margin: 8px;
  font-size: 18px;
  color: white;
  z-index: 0;
}

.card-img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5%;
}

.card-descripcion {
  margin: 5px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}
